<div class="row ">
        <div class="invdg_ui_btn_02">

            <img class="btn-ui-noved" src="~/Images/iconos/invdg_btn_noved_a.png"/>


        </div>
</div>

<div class="row ">
    <div class="invdg_contenedor_01">

        @*<button class="btn_menu_articulo" value="Inicio" onclick="location.href='@Url.Action("v_onedrive_users_tuto_06", "Users_tutos_vonedrive", new { Area = "Onedrive" }, null)'"><img src="~/Images/iconos/invdg_ico_rayas_a.png" class="btn_menu_img">Onedrive - @Resources.Idioma_Users_tutos_vonedrive.language.vonedrive_users_tuto_06_TIT_01</button>
        <button class="btn_menu_articulo" value="Inicio" onclick="location.href='@Url.Action("v_onedrive_users_tuto_05", "Users_tutos_vonedrive", new { Area = "Onedrive" }, null)'"><img src="~/Images/iconos/invdg_ico_rayas_a.png" class="btn_menu_img">Onedrive - @Resources.Idioma_Users_tutos_vonedrive.language.vonedrive_users_tuto_05_TIT_01</button>
        <button class="btn_menu_articulo" value="Inicio" onclick="location.href='@Url.Action("v365_word_users_tuto_02", "Users_tutos_v365_word", new { Area = "Office_365" }, null)'"><img src="~/Images/iconos/invdg_ico_rayas_a.png" class="btn_menu_img">Word 365 - @Resources.Idioma_Users_tutos_v365_Word.language.v365_word_users_tuto_02_TIT_01</button>
        <button class="btn_menu_articulo" value="Inicio" onclick="location.href='@Url.Action("v365_owa_users_tuto_09", "Users_tutos_v365_owa", new { Area = "Office_365" }, null)'"><img src="~/Images/iconos/invdg_ico_rayas_a.png" class="btn_menu_img">Owa 365 - @Resources.Idioma_Users_tutos_v365_Owa.language.v365_owa_users_tuto_09_TIT_01</button>
        <button class="btn_menu_articulo" value="Inicio" onclick="location.href='@Url.Action("v365_owa_users_tuto_14", "Users_tutos_v365_owa", new { Area = "Office_365" }, null)'"><img src="~/Images/iconos/invdg_ico_rayas_a.png" class="btn_menu_img">Owa 365 - @Resources.Idioma_Users_tutos_v365_Owa.language.v365_owa_users_tuto_14_TIT_01</button>
        <button class="btn_menu_articulo" value="Inicio" onclick="location.href='@Url.Action("v365_excel_users_tuto_03", "Users_tutos_v365_excel", new { Area = "Office_365" }, null)'"><img src="~/Images/iconos/invdg_ico_rayas_a.png" class="btn_menu_img">Excel 365 - @Resources.Idioma_Users_tutos_v365_Excel.language.v365_excel_users_tuto_03_TIT_01</button>
        <button class="btn_menu_articulo" value="Inicio" onclick="location.href='@Url.Action("v365_excel_users_tuto_06", "Users_tutos_v365_excel", new { Area = "Office_365" }, null)'"><img src="~/Images/iconos/invdg_ico_rayas_a.png" class="btn_menu_img">Excel 365 - @Resources.Idioma_Users_tutos_v365_Excel.language.v365_excel_users_tuto_06_TIT_01</button>
        <button class="btn_menu_articulo" value="Inicio" onclick="location.href='@Url.Action("v365_comun_users_tuto_02", "Users_tutos_v365_comun", new { Area = "Office_365" }, null)'"><img src="~/Images/iconos/invdg_ico_rayas_a.png" class="btn_menu_img">Office 365 - @Resources.Idioma_Users_tutos_v365_Comun.language.v365_comun_users_tuto_02_TIT_01</button>
        <button class="btn_menu_articulo" value="Inicio" onclick="location.href='@Url.Action("v365_comun_users_tuto_03", "Users_tutos_v365_comun", new { Area = "Office_365" }, null)'"><img src="~/Images/iconos/invdg_ico_rayas_a.png" class="btn_menu_img">Office 365 - @Resources.Idioma_Users_tutos_v365_Comun.language.v365_comun_users_tuto_03_TIT_01</button>*@



    </div>
</div>
