

<div class="row ">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <div class="invdg_menu_nav_long" role="group" aria-label="...">

            <button class="btn btn_menu_nav_long" value="Inicio" onclick="location.href='@Url.Action("Serv_Cloud", "Home", new { area = "" }, null)'">
                    <img src="~/Images/iconos/invdg_ico_cloud_a.png" class="btn_menu_img">
                    @Resources.Mnu.language._Mnu_Nav_Serv_01
            </button>

            <button class="btn btn_menu_nav_long" value="Inicio" onclick="location.href='@Url.Action("Serv_Areas", "Home", new { area = "" }, null)'">
                <img src="~/Images/iconos/invdg_ico_azure_a.png" class="btn_menu_img">
                @Resources.Mnu.language._Mnu_Nav_Serv_02
            </button>

            <button class="btn btn_menu_nav_long" value="Inicio" onclick="location.href='@Url.Action("Serv_Areas", "Home", new { area = "" }, null)'">
                <img src="~/Images/iconos/invdg_ico_office365_a.png" class="btn_menu_img">
                @Resources.Mnu.language._Mnu_Nav_Serv_03
            </button>

            <button class="btn btn_menu_nav_long" value="Inicio" onclick="location.href='@Url.Action("Serv_Areas", "Home", new { area = "" }, null)'">
                <img src="~/Images/iconos/invdg_ico_dynamics_a.png" class="btn_menu_img">
                @Resources.Mnu.language._Mnu_Nav_Serv_04
            </button>
 
            <button class="btn btn_menu_nav_long" value="Inicio" onclick="location.href='@Url.Action("Serv_Areas", "Home", new { area = "" }, null)'">
                <img src="~/Images/iconos/invdg_ico_backuplus_a.png" class="btn_menu_img">
                @Resources.Mnu.language._Mnu_Nav_Serv_07
            </button>
                   
               </div>
    </div>
</div>

